header {
    top: 0;
    position: fixed;
}
.auth-footer {
    z-index: -1 !important;
}
header img {
    width: 100%;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 999999 !important;
}
.registerImage {
    height: 100vh;
    width: 100%;
}
