.cardProductStyle {
    display: flex;
    width: 700px;
    min-height: 200px;
    align-items: center;
    border: 1px solid black;
    transition: transform 0.3s ease;
    margin: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 1);
}

.cardImage {
    width: 40%;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.imageContainer {
    width: 60%;
    height: 150px;
}

.noUnderline {
    text-decoration: none;
    font-weight: bold;
}

.headerCard {
    padding: 0px !important;
    text-align: left;
    margin-bottom: 30px;
}

.cardProductStyle:hover {
    box-shadow: none;
}

.cardProductStyle:hover {
    transform: scale(1);
}

@media (max-width: 768px) {
    .description {
        font-size: 14px !important;
    }
    .cardProductStyle {
        padding: 10px;
    }
    .productAmount {
        margin: 0px !important; 
    }
    .productDescriptionWrapper {
        width: 200px;
    }
}