.homeContainer {
    display: flex;
}

.categoryCardContainer {
    cursor: pointer;
}

.noUnderline {
    text-decoration: none;
}

.productContainer {
    flex-wrap: wrap;
    justify-content: center;
}
