.navContent {
    padding: 0 !important;
    display: flex;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.logoutWrapper a {
    color: #fff !important;
}
.logoutWrapper {
    background-color: #ff000099;
    border-radius: 5px;
    padding: 4px;
    font-size: 10px !important;
    display: flex;
    flex-direction: column;
    font-size: small;
}
.logoLife {
    --factor-reduccion: 5;
    background-image: url('../assets/logo.jpg');
    width: calc(420px / var(--factor-reduccion));
    height: calc(266px / var(--factor-reduccion));
    background-size: contain;
    background-repeat: no-repeat;
}
.logoutProfile {
    display: flex;
    margin-left: auto;
    align-items: center;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #000;
}

.MuiStack-root {
    padding: 0 !important;
}